<div class="container">

    <form action="/add" method="post">
        <input type="text" name="Titulo">
        <textarea name="Conteudo" cols="30" rows="10"></textarea>
        <input type="submit">
    </form>
</div>